<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="<%= description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- includes %>
    <title><%= title%></title>
    <%- reachdeck %>
    <%- head_end %>
    <style>
        /* Tabs - increased accessibility */
        .text-danger {
          color: #a51d2b;
        }
        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
          color: #212529;
          border-color: #4b5458 #4b5458 #fff;
          margin-bottom: 0;
        }

        .nav-tabs .nav-link {
          border: 2px solid transparent;
        }

        .nav-tabs {
          border-bottom: 2px solid #4b5458;
        }

        .nav-link {
          color: #0248b1;
        }

        /* search input */
        #contentTypeSearchBtn,
        #contentTypeSearchInput {
          border: 2px solid #4b5458;
        }

        /* Pagination */
        .page-item.disabled .page-link {
          color: #555c62;
          border: 2px solid #4b5458;
        }

        .page-link {
          color: #0248b1;
          border: 2px solid #4b5458;
          margin: 0 22px 22px 0;
        }

        .date .page-link {
          color: #0248b1;
          border: 2px solid #4b5458;
          margin: 0;
        }

        .page-item button {
          min-width: 3em;
        }

        table {
          width: 100%;
        }

        .arrows {
          max-width: 1rem;
        }

        ul {
          padding-left: 0.5rem;
        }

        button {
          color: Black;
        }

        .black {
          color: Black !important;
        }

        .entryUpIcon {
          position: relative;
          top: -0.5rem;
        }

        .entryDownIcon {
          position: relative;
          top: 0.35rem;
          right: 1rem;
        }

        #upstartDate {
          color: Black;
        }

        #description {
          width: 25% !important;
        }

        td {
          width: 7rem;
          vertical-align: top;
          padding-top: 0.5rem;
        }

        @supports (-webkit-appearance: none) {
          .entryUpIcon {
            top: -0.4rem;
          }

          .entryDownIcon {
            bottom: -0.3rem;
            right: 1rem;
          }
        }

        @supports (-moz-appearance: none) {
          .entryUpIcon {
            top: -0.6rem;
          }

          .entryDownIcon {
            bottom: -0.3rem;
            right: 0.77rem;
          }
        }
    </style>
  </head>
  <body>
    <%- header %>
    <%- breadcrumb %>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-8">
          <div class="cec-main-col-width">
            <h1><%= h1 %></h1>
          </div>
        </div>
      </div>
      <div id="app" class="mt-3"><%- html %></div>
    </div>
    <%- feedback %>
    <%- footer %>
    <%- cookies %>
    <%- site_search %>
  </body>
</html>
